.card {
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    width: 240px;
    margin-block: 10px;
    transform: translate(-50%, -50%);
    display: none;
    margin: 0 auto;
    top: 50%;
    will-change: transform;
}

.card.leftOne,.card.leftTwo,.card.active,.card.rightOne,.card.rightTwo {
    display: block;
}

.card.leftTwo {
    left: 30%;
    z-index: 6;
    height:50%;
}

.card.leftOne {
    left: 40%;
    z-index: 8;
    max-height:60%;
}

.card.active{
    left: 50%;
    z-index:10;
    max-height:80%;
}


.card.rightOne {
    left: 60%;
    z-index: 8;
    max-height: 60%;
}

.card.rightTwo {
    left: 70%;
    z-index: 6;
    max-height: 50%;
}


.video {
    width:240px;
}

/* .caption {
    position: absolute;
    background-color: hsl(0deg 0% 0% / 61%);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 75px;
} */

.text {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1.5px;
}