.card {
  position: absolute;
  inset-block-start: 50%;
  border-radius: 15px;
  overflow: hidden;
  width: 240px;
  transform: translate(-50%, -50%);
  display: none;
  margin: 10px auto;
  will-change: transform;
  z-index: 10;
  max-height: 70%;
}

.card.leftOne,
.card.leftTwo,
.card.active,
.card.rightOne,
.card.rightTwo {
  display: block;
}

.card.leftTwo,.card.rightTwo{
  z-index: 6;
  max-height: 50%;
}

.card.leftOne,.card.rightOne{
    z-index: 8;
    max-height: 60%;
}

.card.leftTwo {
  left: 30%;
}

.card.leftOne {
left: 40%;
}

.card.active {
  left: 50%;
}

.card.rightOne {
  left: 60%;
}

.card.rightTwo {
  left: 70%;
}

.video {
  width: 240px;
}
