.card{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    min-width: 240px;
    margin-block: 10px;
    cursor: pointer;
}


.caption{
    position: absolute;
    background-color: hsl(0deg 0% 0% / 61%);
    inset-block-end: 0;
    inset-inline-end:0;
    width:100%;
    height:75px;
}

.text{
    font-size: 22px;
    font-weight: 600;
    color:#fff;
    letter-spacing: 1.5px;
    text-align: center;
}