.body {
  height: 100vh;
  width: 100vw;
}

.productCards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-inline: 5px;
}



.productCards::-webkit-scrollbar {
  height: 8px;
}

.productCards::-webkit-scrollbar-thumb {
  background: hsl(0deg 0% 0% / 61%);
  width: 270px;
  border-radius: 8px;
}

.productCards::-webkit-scrollbar-track{
  background: transparent;
}


.modalButtons {
  position: absolute;
  inset-inline-end:0;
  margin:10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}


.buttonsMain{
  position: relative;
  z-index:20;
}

.buttonCarousel{
  color:#fff;
  height: 35px;
  width: 35px;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 12px;
  border-radius: 10px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}


.buttonCarousel > svg{
  transform: rotate(45deg);
}

        

.closeBtn  {
  padding: 10px;
}

.muteBtn{
  padding: 8px;
}
