.productCards{
  display: flex;
  align-items: center;
  gap:5px;
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: space-between;
  margin-inline: 5px;
}

.body{
  height:100vh;
  width:100vw;
}

.productCards::-webkit-scrollbar {
  height: 8px;
}

.productCards::-webkit-scrollbar-thumb {
  background: hsl(0deg 0% 0% / 61%);
  width: 270px;
  border-radius: 8px;
}

.productCards::-webkit-scrollbar-track{
  background: transparent;
}


.modalButtons {
  position: absolute;
  right:0;
  margin:10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}


.buttonsMain{
  position: relative;
}

.buttonCarousel{
  width:20px;
  height:20px;
  color:#fff;
}

.closeBtn  {
  padding: 2px;
}

.muteBtn{
  padding: 1px;
}
