html{
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  
  margin:0;
}

#videoCarousel{
  position: relative;
}

.modalMain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}